body{
	font-family: Arial;
	font-size: 12px;
}


nav{background-color: #97896C !important;}
nav a{color: #fff !important;}
.navbar-nav>li{padding-left: 10px;}
.navbar-nav>li.active>a{background-color: #97896C !important;}
.navbar-nav>li.active{border-bottom: 1px solid #fff;}
.navbar-nav>li:hover{border-bottom: 1px solid #fff;}
.navbar-nav>li>a{padding-bottom: 5px; text-transform: uppercase;}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.dropdown-menu{background-color: #97896C !important;}

.navbar{border: none; border-radius: 0; margin-bottom: 0;}
.navbar-brand{margin-right: 20px; font-size: 2em;}
nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    -webkit-transition: all 400ms ease-in;
    transition: all 200ms ease-in;
}

#login-button-home{text-transform: uppercase; margin: 15px 0;}
#login-button-home a:hover{text-decoration: none;}

#tagline{background-color: #000; color: #ddd; text-align: center; font-size: 1.2em; padding: 10px;}
#tagline a{color: #ddd; text-decoration: underline;}
